<app-page [header]="title">
  <div class="container">
    <h2 class="form-naglowek">Zwierzę do adopcji</h2>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-zdjecie [url]="fotoUrl" [height]="'220px'"></app-zdjecie>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4" [style.margin-top]="'14px'">
        <div class="row">
          <b class="col-xs-5 col-md-4">Imię:</b>
          <div class="col-xs-7">
            <p class="dane">{{zwierze.imie}}</p>
          </div>
        </div>

        <div class="row">
          <b class="col-xs-5 col-md-4">Wiek:</b>
          <div class="col-xs-7">
            <p class="dane">{{zwierze.wiek}}</p>
          </div>
        </div>

        <div class="row">
          <b class="col-xs-5 col-md-4">Gatunek:</b>
          <div class="col-xs-7">
            <p class="dane">{{zwierze.gatunek}}</p>
          </div>
        </div>

        <div class="row">
          <b class="col-xs-5 col-md-4">Rasa:</b>
          <div class="col-xs-7">
            <p class="dane">{{zwierze.rasa}}</p>
          </div>
        </div>

        <div class="row">
          <b class="col-xs-5 col-md-4">Numer CZIP:</b>
          <div class="col-xs-7">
            <p class="dane">{{zwierze.numerCZIP}}</p>
          </div>
        </div>

        <div class="row">
          <b class="col-xs-5 col-md-4">Numer rejestru:</b>
          <div class="col-xs-7">
            <p class="dane">{{zwierze.id}}</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-5 przycisk-top" *ngIf="zwierze.opis">
        <p><b>Opis:</b></p>
        <p class="tresc-opisu">{{zwierze.opis}}</p>
      </div>

    </div>

    <h2 class="form-naglowek">Dane adoptującego</h2>
    <hr>

    <form [formGroup]="form" (ngSubmit)="adoptuj()">
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Imię<span class="star">*</span></label>
          <input type="text" class="form-control" formControlName="imie" [class.warn]="czyBladPola('imie')">
        </div>
        <div class="form-group col-sm-4">
          <label>Nazwisko<span class="star">*</span></label>
          <input type="text" class="form-control" formControlName="nazwisko" [class.warn]="czyBladPola('nazwisko')">
        </div>
        <div class="form-group col-sm-4">
          <label>Email<span class="star">*</span></label>
          <input type="email" class="form-control" placeholder="email.adoptującego@poczta.pl" formControlName="email" [class.warn]="czyBladPola('email')">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <label>Nazwa miejscowości<span class="star">*</span></label>
          <input type="text" class="form-control" placeholder="Miejscowość" formControlName="miejscowosc" [class.warn]="czyBladPola('miejscowosc')">
        </div>
        <div class="form-group col-sm-3">
          <label>Numer telefonu<span class="star">*</span></label>
          <input type="text" class="form-control" placeholder="555-555-555" formControlName="telefon" [class.warn]="czyBladPola('telefon')">
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <label>Numer dowodu<span class="star">*</span></label>
          <input type="text" class="form-control" formControlName="nrDowodu" [class.warn]="czyBladPola('nrDowodu')">
        </div>
        <div class="form-group col-sm-2 col-xs-6">
          <label>Seria dowodu<span class="star">*</span></label>
          <input type="text" class="form-control" formControlName="seriaDowodu" [class.warn]="czyBladPola('seriaDowodu')">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-5">
          <label>Ulica</label>
          <input type="text" class="form-control" placeholder="Ulica" formControlName="ulica">
        </div>
        <div class="form-group col-sm-3">
          <label>Kod pocztowy<span class="star">*</span></label>
          <input type="text" class="form-control" placeholder="00-000" formControlName="kodPocztowy" [class.warn]="czyBladPola('kodPocztowy')">
        </div>
        <div class="form-group col-xs-6 col-sm-2">
          <label>Nr domu<span class="star">*</span></label>
          <input type="text" class="form-control" formControlName="nrDomu" [class.warn]="czyBladPola('nrDomu')">
        </div>
        <div class="form-group col-xs-6 col-sm-2">
          <label>Nr mieszkania</label>
          <input type="text" class="form-control" formControlName="nrMieszkania">
        </div>
      </div>

      <hr>
      <span class="star">*</span> - pole wymagane.

      <div class="row">
        <div class="col-sm-3 przycisk-top" [class.col-sm-offset-3]="dodawanie">
          <app-przycisk [big]="true" [important]="true" [type]="'submit'">{{przyciskSubmit}}</app-przycisk>
        </div>
        <div *ngIf="edycja" class="col-sm-3 przycisk-top">
          <app-przycisk [big]="true" (click)="wyczysc()" [important]="true">Wydruk pdf</app-przycisk>
        </div>
        <div *ngIf="edycja" class="col-sm-3 przycisk-top">
          <app-przycisk [big]="true" (click)="usunAdopcje()" [routerLink]="'../../'">Usuń</app-przycisk>
        </div>
        <div class="col-sm-3 przycisk-top">
          <app-przycisk [big]="true" (click)="goBack()">Powrót</app-przycisk>
        </div>
      </div>
    </form>
  </div>
</app-page>
