
.komunikat-good {
  border-radius: 4px;
  padding: 12px;
  color: white;
  background-color: #D99E1A;
  margin-bottom: 18px;
  box-shadow: 0 2px 3px rgba(44, 44, 44, 0.3);
}


.komunikat-bad {
  color: #ffdfe3;
  background-color: #c73f4b;
}
