<app-page [headerWidth]="'400px'" [header]="'Podgląd zwierzęcia: ' + zwierze.imie + ' | ID: ' + zwierze.id">
  <app-zwierze-info-panel [zwierze]="zwierze"></app-zwierze-info-panel>
  <div class="container">
    <hr style="margin-top: 22px; margin-bottom: 8px;">

    <div class="row">
      <div class="col-sm-4 przycisk-top">
        <app-przycisk [big]="true" [important]="true" [routerLink]="'../../dodawanie-adopcji/' + zwierze.id">Adoptuj</app-przycisk>
      </div>
      <div class="col-sm-4 przycisk-top">
        <app-przycisk [big]="true" [important]="true" [routerLink]="'../../edycja/' + zwierze.id">Edytuj</app-przycisk>
      </div>
      <div class="col-sm-4 przycisk-top">
        <app-przycisk [big]="true" (click)="goBack()">Powrót</app-przycisk>
      </div>
    </div>

  </div>
</app-page>
