<app-page [header]="'Lista adopcji'">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <app-komunikat *ngIf="adopcje.length == 0" [bad]="true">
            Brak adopcji.
          </app-komunikat>
        </div>
      </div>

      <div class="row" *ngIf="adopcje.length != 0">
        <div class="col-md-10 col-md-offset-1 ramka margin-phone" *ngFor="let a of adopcje">
          <div class="row">

            <div class="col-sm-3">
             <app-zdjecie [url]="url + a.zwierzeDTO.fotoUrl"></app-zdjecie>
            </div>

            <div class="col-sm-6 margin-phone">
              <div class="tabela">
                <div class="row wiersz">
                  <div class="col-xs-6 col-sm-5 naglowek">
                    Numer dokumentu
                  </div>
                  <div class="col-xs-6 col-sm-7 wartosc">
                    {{a.id}}
                  </div>
                </div>

                <div class="row wiersz">

                  <div class="col-xs-6 col-sm-5 naglowek">
                    Numer zwierzęcia
                  </div>
                  <div class="col-xs-6 col-sm-7 wartosc">
                    {{a.zwierzeDTO.id}}
                  </div>
                </div>

                <div class="row wiersz">
                  <div class="col-xs-6 col-sm-5 naglowek">
                    Imię zwierzęcia
                  </div>
                  <div class="col-xs-6 col-sm-7 wartosc">
                    {{a.zwierzeDTO.imie}}
                  </div>
                </div>

                <div class="row wiersz">
                  <div class="col-xs-6 col-sm-5 naglowek">
                    Adoptujący
                  </div>
                  <div class="col-xs-6 col-sm-7 wartosc">
                    {{a.osobaAdoptujacaDTO.imie}} {{a.osobaAdoptujacaDTO.nazwisko}}
                  </div>
                </div>

                <div class="row wiersz">
                  <div class="col-xs-6 col-sm-5 naglowek">
                    Numer telefonu
                  </div>
                  <div class="col-xs-6 col-sm-7 wartosc">
                    {{a.osobaAdoptujacaDTO.numerTelefonu}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 margin-phone">
              <app-przycisk [big]="true" class="przycisk">Wydrukuj</app-przycisk>
              <app-przycisk [big]="true" [routerLink]="'../edycja-adopcji/' + a.id" class="przycisk" [important]="true">Edytuj dane</app-przycisk>
              <app-przycisk [big]="true" (click)="usunAdopcje(a.id)" class="przycisk last">Usuń</app-przycisk>
            </div>
          </div>
        </div>
      </div>

      <div class="row przycisk-top">
        <div class="col-md-10 col-md-offset-1">
          <app-przycisk [big]="true" [important]="true" (click)="goBack()">Powrót</app-przycisk>
        </div>
      </div>

    </div>
  </div>
</app-page>

