.ramka {
  box-shadow: 0 2px 4px rgba(33, 33, 33, 0.41);
  margin-bottom: 16px;
  padding: 8px;
  background-color: #F7FAFB;
}

.zdjecie {
  box-sizing: border-box;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.przycisk {
  display: block;
  margin-bottom: 8px;
}

.last {
  margin-bottom: 0;
}

.wiersz {
  margin-top: 4px;
  margin-bottom: 4px;
}

.wartosc {
  left: -15px;
  padding: 3px;
  background-color: #E3E7E8;
  text-align: center;
}

.margin-phone {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .margin-phone {
    margin-top: 0;
  }
}
