<div class="content">
  <div class="container">


  <div class="odszukanie">
    <p>
      Zwierząt wyświetlonych na stronie: {{zwierzeta.length}}
    </p>
  </div>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <app-komunikat *ngIf="zwierzeta.length == 0" [brakDanych]="true">
        Brak zwierząt.
      </app-komunikat>
    </div>

    <p-growl [life]="5000" [(value)]="sukcesMsgs"></p-growl>

  </div>


    <div class="row" *ngIf="zwierzeta.length != 0">


      <hr *ngIf="zwierzeta.length != 0" class="hr-niski-top">


      <div class="col-md-10 col-md-offset-1 ramka margin-phone" *ngFor="let zw of zwierzeta">
        <div class="row">

          <div class="col-sm-3">
            <app-zdjecie [url]="url + zw.fotoUrl"></app-zdjecie>
          </div>

          <div class="col-sm-5 margin-phone">
            <div class="tabela">
              <div class="row wiersz">
                <div class="col-xs-7 naglowek">
                  Numer identyfikacyjny
                </div>
                <div class="col-xs-5 wartosc">
                  {{zw.id}}
                </div>
              </div>

              <div class="row wiersz">

                <div class="col-xs-7 naglowek">
                  Imię
                </div>
                <div class="col-xs-5 wartosc">
                  {{zw.imie}}
                </div>
              </div>

              <div class="row wiersz">
                <div class="col-xs-7 naglowek">
                  Wiek
                </div>
                <div class="col-xs-5 wartosc">
                  {{zw.wiek}}
                </div>
              </div>

              <div class="row wiersz">
                <div class="col-xs-7 naglowek">
                  Gatunek
                </div>
                <div class="col-xs-5 wartosc">
                  {{zw.gatunek}}
                </div>
              </div>

              <div class="row wiersz">
                <div class="col-xs-7 naglowek">
                  Rasa
                </div>
                <div class="col-xs-5 wartosc">
                  {{zw.rasa}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 margin-phone">
            <app-przycisk [big]="true" [routerLink]="'../szczegoly-zwierzecia/' + zw.id" class="przycisk">Wyświetl całość</app-przycisk>
            <app-przycisk [big]="true" [routerLink]="'../edycja/' + zw.id" class="przycisk" [important]="true">Edytuj dane</app-przycisk>
            <app-przycisk [big]="true" [routerLink]="'../dodawanie-adopcji/' + zw.id" class="przycisk last">Adoptuj</app-przycisk>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr>
      </div>
    </div>

    <div class="row przycisk-top">
      <div class="col-md-10 col-md-offset-1">
        <app-przycisk [big]="true" [important]="true" (click)="goBack()">Powrót</app-przycisk>
      </div>
    </div>

  </div>
</div>
