<div class="form-group row">
  <label *ngIf="label" [class]="labelClass">Gatunek<span class="star" *ngIf="!bezGwiazdki">*</span></label>
  <p *ngIf="!label" [class]="labelClass">
    Gatunek<span class="star" *ngIf="!bezGwiazdki">*</span>
  </p>
  <div [class]="inputClass">
    <select class="form-control" (input)="onSelectGatunek($event)" [(ngModel)]="wybranyGatunek">
      <option *ngFor="let g of gatunki" [value]="g" >{{g}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label *ngIf="label" [class]="labelClass">Rasa<span class="star" *ngIf="!bezGwiazdki">*</span></label>
  <p *ngIf="!label" [class]="labelClass">
    Rasa<span class="star" *ngIf="!bezGwiazdki">*</span>
  </p>
  <div [class]="inputClass">
    <select class="form-control" [disabled]="wybranyGatunek === ''" [(ngModel)]="wybranaRasa" (input)="onSelectRasa($event)">
      <option *ngFor="let rasa of rasy let i = index" [value]="rasa" >{{rasa}}</option>
    </select>
  </div>
</div>
