@import '~styles.scss';

.zdjecie {
  box-sizing: border-box;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
}

.big {
  height: 220px;
}
