input {
  display: none;
}

.input-file {
  width: 100%;
  text-align: center;
  min-height: 60px;

  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 6px;
  background-color: #F7FAFB;
  border: 2px dashed #989898;
  border-radius: 10px;
  cursor: pointer;
}

span {
  color: #989898;
}

.maly {
  min-height: 30px;
  padding-top: 3px;
}

.input-file:hover {
  filter: brightness(90%);
}
