/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #373737;
}

$important: #f0b62b;
$default: #808080;

app-przycisk {
  outline: 0;
}

.hr-niski-top {
  margin-top: -12px;
  margin-bottom: 24px;
}

.ui-growl {
  top: 250px;
  right: 4%;
}

.inner-shadow-lekki {
  -webkit-box-shadow: inset 0px 0px 63px -36px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 63px -36px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 63px -36px rgba(0,0,0,0.5);
}

.odszukanie {
  margin-top: -12px;
  margin-bottom: 42px;
  line-height: 12px;
  height: 0;
}

.ui-growl-container, .ui-growl-item {
  background-color: #D99E1A;
  border-radius: 3px;
}

.star {
  color: red;
}

img {
  outline: 0;
}

.content {
  padding: 5vh 0 40px 0;
}

.przycisk-top {
  margin-top: 20px;
}


textarea:focus,
.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $important;
  box-shadow: none;
  outline: 0 none;
}
